@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@media (prefers-color-scheme:dark) {
  html {
    color-scheme: dark
  }

  html,
  body {
    font-family: 'Michroma', sans-serif;
    color: #7dd8ff;
    overflow: hidden;
    background: #0f172a;
    margin: 0;
    height: 100%;
  }
}

.h-more {
  height: 37.75rem;
}

.skills-card:hover .skills-card-logo {
  transform: scale(1.15);
}

.kek * {
  transition: all .3s ease-in-out;
}

.work-card-cover {
  transition: all .3s ease-in-out;
  background-color: #070e1da6;
}

.work-card:hover .work-card-cover {
  display: block;
}

.work-card,
.work-card * {
  transition: all 0.3s ease-in-out;
}

.t-01 {
  top: 0.1rem;
}

.t-175 {
  top: 1.75rem;
}

.b-01 {
  bottom: 0.1rem;
}

.b-175 {
  bottom: 1.75rem;
}

.l-01 {
  left: 0.1rem;
}

.l-175 {
  left: 1.75rem;
}

.r-01 {
  right: 0.1rem;
}

.b-175 {
  bottom: 1.75rem;
}

.mobile-menu-corner-tl {
  width: 1rem;
  height: 1.6rem;
  left: 1.8rem;
  top: 1.5rem;
  rotate: 45deg;
}

.mobile-menu-corner-tr {
  width: 1rem;
  height: 1.6rem;
  right: 1.8rem;
  top: 1.5rem;
  rotate: 135deg;
}

.mobile-menu-corner-br {
  width: 1rem;
  height: 1.6rem;
  right: 1.8rem;
  bottom: 1.5rem;
  rotate: -135deg;

}

.mobile-menu-corner-bl {
  width: 1rem;
  height: 1.6rem;
  left: 1.8rem;
  bottom: 1.5rem;
  rotate: -45deg;

}

[class*=flex-] {
  display: flex
}

@tailwind base;
@tailwind components;
@tailwind utilities;